# OpenWeather API Key
# Instructions: 
# 1. Sign up at https://openweathermap.org/ to get a free API key.
# 2. Rename this file to .env.local
# 3. Replace 'insert_your_api_key_here' with your actual key below.

NEXT_PUBLIC_WEATHER_KEY=insert_your_api_key_here
